@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    padding : 0;
    margin: 0;
    font-family: Quicksand,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size : 16px;
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
}